.hero {
    padding-top: 11rem;
    padding-bottom: 9rem;
    overflow-x: hidden;


    @include breakpoint(md) {
        padding-top: 21rem;

    }
    &__container {
        @include breakpoint(md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &:before {
            z-index:-1;
            content: '';
            position: absolute;
            top: -190px;
            right: -120px;
            width: 120%;
            max-width: 740px;
            height: 100%;
            background-color: $body-background-color;
            background-image: url(../images/bg-tablet-pattern.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: right top;

            @include breakpoint(md) {
                top: initial;
                bottom: 10px;
                right: -400px;
                width: 814px;
                height: 814px;
            }            

            @include breakpoint(lg) {
                top: initial;
                bottom: 50px;
                right: -230px;
            }
        }

        &:after {
            z-index:-1;
            content: '';
            position: absolute;
            bottom: -90px;
            right: -240px;
            width: 40rem;
            height: 40rem;
            max-width: 540px;
            background-color: $body-background-color;
            background-image: url(../images/bg-tablet-pattern.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: right top;

            @include breakpoint(md) {
                display: none;
            }
        }
    }

    &__img__wrapper {
        order: 2;
        flex: 1;
        margin-bottom: 3rem;

        @include breakpoint(md) {
            margin-right: -$gap;
        }
        img {   
            width: 100%;
            height: auto;
        }
        
    }

    &__text__wrapper {

        @include breakpoint(md) {
            flex: 1;
        }
    }

    &__heading {
        margin-bottom: 2rem;
        font-size: 3rem;
        line-height: 1.3;
        font-weight: $font-weight-bold;
        color: $section-heading-color;

        @include breakpoint(md) {
            margin-bottom: 2.4rem;
            font-size: 4.2rem;
            line-height: 1.2;
        }

        @include breakpoint(lg) {
            font-size: 5.2rem;
            
        }


    }
    
    &__subheading {
        
        margin-bottom: 3.6rem;
        font-size: 1.5rem;
        line-height: 1.6;
        font-weight: $font-weight-light;
        color: $section-subheading-color;
        
        @media (min-width: $breakpoint)
        {
            font-size: 1.6rem;
            max-width: 35rem;
            margin-bottom: 4rem;
        }

        @media (min-width: 1200px)
        {

        }
    }

    &__buttons {

        button {

            &:first-child {
                margin-right: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}